<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>待办事项</title>
        <link rel="stylesheet" href="css/element-theme/element-theme-darkred.css">
        <link rel="stylesheet" href="css/common/common.css">
        <link rel="stylesheet" href="css/dcdb-dbsx/dcdb-dbsx.css">
    </head>
    <body>
        <div id="list" v-cloak>
            <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="督办反馈" name="1">
                        <el-form :inline="true" :model="list1.formSearch">
                            <el-form-item label="问题类型">
                                <el-select v-model="list1.formSearch.questionType" placeholder="请选择" clearable>
                                    <el-option
                                        v-for="item in list1.questionTypeData"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="活动时间">
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="list1.formSearch.startTime" style="width: 100%;"></el-date-picker>
                                </el-col>
                                <el-col class="text-c" :span="2">-</el-col>
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="list1.formSearch.endTime" style="width: 100%;"></el-date-picker>
                                </el-col>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="search(1)">查询</el-button>
                            </el-form-item>
                        </el-form>
                        <el-table
                            :data="list1.tableData"
                            border
                            style="width: 100%">
                            <el-table-column
                                prop="fileNum"
                                label="文件号"
                                width="180">
                            </el-table-column>
                            <el-table-column
                                prop="department"
                                label="责任单位"
                                width="180">
                            </el-table-column>
                            <el-table-column
                                prop="questionType"
                                label="问题类型">
                            </el-table-column>
                            <el-table-column
                                prop="content"
                                label="交办内容">
                            </el-table-column>
                            <el-table-column
                                prop="contacts"
                                label="联系人">
                            </el-table-column>
                            <el-table-column
                                prop="assignedTime"
                                label="交办时间">
                            </el-table-column>
                            <el-table-column
                                prop="rectificationPeriod"
                                label="整改期限">
                            </el-table-column>
                            <el-table-column
                                prop="progress"
                                label="进度">
                                <template slot-scope="scope">
                                    <el-progress :percentage="50" status="exception"></el-progress>
                                </template>
                            </el-table-column>
                            <el-table-column
                                label="操作">
                                <template slot-scope="scope">
                                    <el-button
                                        type="primary"
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row, 1)"
                                        icon="el-icon-edit">编辑
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                            class="m-t-15"
                            @size-change="handleSizeChange($event, 1)"
                            @current-change="handleCurrentChange($event, 1)"
                            background
                            :current-page="list1.currentPage"
                            :page-sizes="list1.pageSizeSelection"
                            :page-size="list1.pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="list1.total">
                        </el-pagination>
                    </el-tab-pane>
                    <el-tab-pane label="巡河事件" name="2">
                        <el-form :inline="true" :model="list2.formSearch">
                            <el-form-item label="问题类型">
                                <el-select v-model="list2.formSearch.questionType" placeholder="请选择" clearable>
                                    <el-option
                                        v-for="item in list2.questionTypeData"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="上报时间">
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="list2.formSearch.startTime" style="width: 100%;"></el-date-picker>
                                </el-col>
                                <el-col class="text-c" :span="2">-</el-col>
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="list2.formSearch.endTime" style="width: 100%;"></el-date-picker>
                                </el-col>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="search(2)">查询</el-button>
                            </el-form-item>
                        </el-form>
                        <el-table
                            :data="list2.tableData"
                            border
                            style="width: 100%">
                            <el-table-column
                                prop="riverName"
                                label="河流名称">
                            </el-table-column>
                            <el-table-column
                                prop="questionType"
                                label="问题类型">
                            </el-table-column>
                            <el-table-column
                                prop="problemDesc"
                                label="问题描述">
                            </el-table-column>
                            <el-table-column
                                prop="reporter"
                                label="上报人">
                            </el-table-column>
                            <el-table-column
                                prop="duty"
                                label="职务">
                            </el-table-column>
                            <el-table-column
                                prop="reportTime"
                                label="上报时间">
                            </el-table-column>
                            <el-table-column
                                prop="progress"
                                label="事件进度">
                            </el-table-column>
                            <el-table-column
                                label="操作">
                                <template slot-scope="scope">
                                    <el-button
                                        type="primary"
                                        size="mini"
                                        @click="handleDetail(scope.$index, scope.row, 2)"
                                        icon="el-icon-view">查看
                                    </el-button>
                                    <el-button
                                        type="primary"
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row, 2)"
                                        icon="el-icon-edit">处理
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                            class="m-t-15"
                            @size-change="handleSizeChange($event, 2)"
                            @current-change="handleCurrentChange($event, 2)"
                            background
                            :current-page="list2.currentPage"
                            :page-sizes="list2.pageSizeSelection"
                            :page-size="list2.pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="list2.total">
                        </el-pagination>
                    </el-tab-pane>
                    <el-tab-pane label="公众投诉" name="3">
                        <el-form :inline="true" :model="list3.formSearch">
                            <el-form-item label="问题类型">
                                <el-select v-model="list3.formSearch.questionType" placeholder="请选择" clearable>
                                    <el-option
                                        v-for="item in list3.questionTypeData"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="举报时间">
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="list3.formSearch.startTime" style="width: 100%;"></el-date-picker>
                                </el-col>
                                <el-col class="text-c" :span="2">-</el-col>
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="list3.formSearch.endTime" style="width: 100%;"></el-date-picker>
                                </el-col>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="search(2)">查询</el-button>
                            </el-form-item>
                        </el-form>
                        <el-table
                            :data="list3.tableData"
                            border
                            style="width: 100%">
                            <el-table-column
                                prop="riverName"
                                label="河流名称">
                            </el-table-column>
                            <el-table-column
                                prop="questionType"
                                label="问题类型">
                            </el-table-column>
                            <el-table-column
                                prop="problemDesc"
                                label="问题描述">
                            </el-table-column>
                            <el-table-column
                                prop="reporter"
                                label="举报人">
                            </el-table-column>
                            <el-table-column
                                prop="duty"
                                label="联系电话">
                            </el-table-column>
                            <el-table-column
                                prop="reportTime"
                                label="举报时间">
                            </el-table-column>
                            <el-table-column
                                prop="progress"
                                label="事件进度">
                            </el-table-column>
                            <el-table-column
                                label="操作">
                                <template slot-scope="scope">
                                    <el-button
                                        type="primary"
                                        size="mini"
                                        @click="handleDetail(scope.$index, scope.row, 3)"
                                        icon="el-icon-view">查看
                                    </el-button>
                                    <el-button
                                        type="primary"
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row, 3)"
                                        icon="el-icon-edit">处理
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                            class="m-t-15"
                            @size-change="handleSizeChange($event, 3)"
                            @current-change="handleCurrentChange($event, 3)"
                            background
                            :current-page="list3.currentPage"
                            :page-sizes="list3.pageSizeSelection"
                            :page-size="list3.pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="list3.total">
                        </el-pagination>
                    </el-tab-pane>
                    <el-tab-pane label="重点项目" name="4">
                        <el-form :inline="true" :model="list4.formSearch">
                            <el-form-item label="项目类型">
                                <el-select v-model="list4.formSearch.questionType" placeholder="请选择" clearable>
                                    <el-option
                                        v-for="item in list4.questionTypeData"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="项目状态">
                                <el-select v-model="list4.formSearch.questionType" placeholder="请选择" clearable>
                                    <el-option
                                        v-for="item in list4.questionTypeData"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="search(4)">查询</el-button>
                            </el-form-item>
                        </el-form>
                        <el-table
                            :data="list4.tableData"
                            border
                            style="width: 100%">
                            <el-table-column
                                prop="projectName"
                                label="项目名称"
                                width="180">
                            </el-table-column>
                            <el-table-column
                                prop="projectType"
                                label="项目类型"
                                width="180">
                            </el-table-column>
                            <el-table-column
                                prop="investor"
                                label="投资类型">
                            </el-table-column>
                            <el-table-column
                                prop="projectMoney"
                                label="项目投资（万）">
                            </el-table-column>
                            <el-table-column
                                prop="finishMoney"
                                label="完成投资（万）">
                            </el-table-column>
                            <el-table-column
                                prop="progress"
                                label="形象进度">
                                <template slot-scope="scope">
                                    <el-progress :percentage="50" status="exception"></el-progress>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="status"
                                label="项目状态">
                            </el-table-column>
                            <el-table-column
                                prop="planFinishtime"
                                label="计划完成时间">
                            </el-table-column>
                            <el-table-column
                                label="操作">
                                <template slot-scope="scope">
                                    <el-button
                                        type="primary"
                                        size="mini"
                                        @click="handleDetail(scope.$index, scope.row, 4)"
                                        icon="el-icon-view">查看
                                    </el-button>
                                    <el-button
                                        type="primary"
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row, 4)"
                                        icon="el-icon-edit">编辑
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                            class="m-t-15"
                            @size-change="handleSizeChange($event, 4)"
                            @current-change="handleCurrentChange($event, 4)"
                            background
                            :current-page="list4.currentPage"
                            :page-sizes="list4.pageSizeSelection"
                            :page-size="list4.pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="list4.total">
                        </el-pagination>
                    </el-tab-pane>
            </el-tabs>
        </div>

        <script src="static/jquery-1.8.3/jquery-1.8.3.min.js"></script>
        <script src="static/vue/vue-2.5.13.js"></script>
        <script src="static/element-ui/lib/index.js"></script>
        <script src="static/layer-v3.1.1/layer/layer.js"></script>
        <script src="js/config.js"></script>
        <script src="js/api.js"></script>
        <script src="js/common.js"></script>
        <script>
            new Vue({
                el: '#list',
                data: function() {
                    return {
                        activeName: '1',                                                    // tabs标签高亮

                        /* 督办反馈 */
                        list1: {
                            questionTypeData: [],                                           // 问题类型下拉框数据
                            formSearch: {                                                   // 表单
                                questionType: '',                                           // 问题类型
                                startTime: '',                                              // 交办时间
                                endTime: ''                                                 // 整改期限
                            },
                            tableData: [],                                                  //表格
                            /*分页*/
                            currentPage: HZZ.config.pagination.CURRENT_PAGE,                // 当前页
                            pageSizeSelection: HZZ.config.pagination.PAGESIZE_SELECTION,    // 分页条数下拉框
                            pageSize: HZZ.config.pagination.PAGESIZE,                       // 每页大小
                            total: HZZ.config.pagination.TOTAL                              // 总记录条数
                        },

                        /* 巡河事件 */
                        list2: {
                            questionTypeData: [],
                            formSearch: {
                                questionType: '',
                                startTime: '',
                                endTime: ''
                            },
                            tableData: [],
                            currentPage: HZZ.config.pagination.CURRENT_PAGE,
                            pageSizeSelection: HZZ.config.pagination.PAGESIZE_SELECTION,
                            pageSize: HZZ.config.pagination.PAGESIZE,
                            total: HZZ.config.pagination.TOTAL
                        },

                        /* 公众投诉 */
                        list3: {
                            questionTypeData: [],
                            formSearch: {
                                questionType: '',
                                startTime: '',
                                endTime: ''
                            },
                            tableData: [],
                            currentPage: HZZ.config.pagination.CURRENT_PAGE,
                            pageSizeSelection: HZZ.config.pagination.PAGESIZE_SELECTION,
                            pageSize: HZZ.config.pagination.PAGESIZE,
                            total: HZZ.config.pagination.TOTAL
                        },

                        /* 重点项目 */
                        list4: {
                            questionTypeData: [],
                            formSearch: {
                                questionType: '',
                                startTime: '',
                                endTime: ''
                            },
                            tableData: [],
                            currentPage: HZZ.config.pagination.CURRENT_PAGE,
                            pageSizeSelection: HZZ.config.pagination.PAGESIZE_SELECTION,
                            pageSize: HZZ.config.pagination.PAGESIZE,
                            total: HZZ.config.pagination.TOTAL
                        }
                    }
                },
                methods: {
                    /* 督办反馈 */
                    getTableData1: function() {
                        var _this = this;
                        var params = {
                            currentPage: this.list1.currentPage,
                            pageSize: this.list1.pageSize,
                            questionType: this.list1.formSearch.questionType,
                            startTime: this.list1.formSearch.startTime,
                            endTime: this.list1.formSearch.endTime
                        };
                        HZZ.api.get_dcdb_dbsx_dbfk(params)
                            .then(function(res) {
                                if (HZZ.api.result === res.result) { 
                                    _this.list1.tableData = res.tableData;
                                    _this.list1.questionTypeData = res.questionTypeData;  
                                    _this.list1.total = res.length;           
                                }
                            }, function(err) {
                                $.error(err.responseText);
                            });
                    },

                    /* 巡河事件 */
                    getTableData2: function() {
                        var _this = this;
                        var params = {
                            currentPage: this.list2.currentPage,
                            pageSize: this.list2.pageSize,
                            questionType: this.list2.formSearch.questionType,
                            startTime: this.list2.formSearch.startTime,
                            endTime: this.list2.formSearch.endTime
                        };
                        HZZ.api.get_dcdb_dbsx_xcsj(params)
                            .then(function(res) {
                                if (HZZ.api.result === res.result) { 
                                    _this.list2.tableData = res.tableData;
                                    _this.list2.questionTypeData = res.questionTypeData;  
                                    _this.list2.total = res.length;           
                                }
                            }, function(err) {
                                $.error(err.responseText);
                            });
                    },

                    /* 公众投诉 */
                    getTableData3: function() {
                        var _this = this;
                        var params = {
                            currentPage: this.list3.currentPage,
                            pageSize: this.list3.pageSize,
                            questionType: this.list3.formSearch.questionType,
                            startTime: this.list3.formSearch.startTime,
                            endTime: this.list3.formSearch.endTime
                        };
                        HZZ.api.get_dcdb_dbsx_xcsj(params)
                            .then(function(res) {
                                if (HZZ.api.result === res.result) { 
                                    _this.list3.tableData = res.tableData;
                                    _this.list3.questionTypeData = res.questionTypeData;  
                                    _this.list3.total = res.length;           
                                }
                            }, function(err) {
                                $.error(err.responseText);
                            });
                    },

                    /* 重点项目 */
                    getTableData4: function() {
                        var _this = this;
                        var params = {
                            currentPage: this.list4.currentPage,
                            pageSize: this.list4.pageSize,
                            questionType: this.list4.formSearch.questionType,
                            statusType: this.list4.formSearch.statusData
                        };
                        HZZ.api.get_dcdb_dbsx_zdxm(params)
                            .then(function(res) {
                                if (HZZ.api.result === res.result) { 
                                    _this.list4.tableData = res.tableData;
                                    _this.list4.questionTypeData = res.questionTypeData; 
                                    _this.list4.statusData = res.statusData;
                                    _this.list4.total = res.length;           
                                }
                            }, function(err) {
                                $.error(err.responseText);
                            });
                    },

                    /* tab列表公共方法 */
                    handleClick: function(tab, event) { // tabs标签点击回调
                        var name = tab.name;
                        switch (name) {
                            case '1': 
                                this.getTableData1();
                                break;
                            case '2': 
                                this.getTableData2();
                                break;
                            case '3': 
                                this.getTableData3();
                                break;
                            case '4': 
                                this.getTableData4();
                                break;
                        }
                    },
                    search: function(val) { // 搜索
                        switch (val) {
                            case 1: 
                                this.getTableData1();
                                break;
                            case 2: 
                                this.getTableData2();
                                break;
                            case 3: 
                                this.getTableData3();
                                break;
                            case 4: 
                                this.getTableData4();
                                break;
                        }  
                    },
                    handleSizeChange: function(val,name) {   // 分页条数
                        switch (name) {
                            case 1: 
                                this.list1.pageSize = val;
                                this.getTableData1();
                                break;
                            case 2: 
                                this.list2.pageSize = val;
                                this.getTableData2();
                                break;
                            case 3: 
                                this.list3.pageSize = val;
                                this.getTableData3();
                                break;
                            case 4: 
                                this.list4.pageSize = val;
                                this.getTableData4();
                                break;
                        }
                    },
                    handleCurrentChange: function(val, name) {    // 翻页  
                        switch (name) {
                            case 1: 
                                this.list1.currentPage = val;
                                this.getTableData1();
                                break;
                            case 2: 
                                this.list2.currentPage = val;
                                this.getTableData2();
                                break;
                            case 3: 
                                this.list3.currentPage = val;
                                this.getTableData3();
                                break;
                            case 4: 
                                this.list4.currentPage = val;
                                this.getTableData4();
                                break;
                        }
                    },
                    handleDetail: function(index, row, name) {  // 查看
                        var _this = this,
                            cache = HZZ.cache,
                            URLs = HZZ.config.URLs,
                            util = HZZ.util;

                        cache.row = row;    // 缓存行数据

                        switch (name) {
                            case 2: 
                                util.loadHtml(URLs.baseUrl + 'dbsx-xhsj-detail.html');   // 通过iframe加载页面
                                break;
                            case 3: 
                                util.loadHtml(URLs.baseUrl + 'dbsx-xhsj-detail.html');   // 通过iframe加载页面
                                break;
                            case 4: 
                                util.loadHtml(URLs.baseUrl + 'dbsx-zdxm-detail.html');   // 通过iframe加载页面
                                break;
                        }
                    },
                    handleEdit: function(index, row, name) {  // 编辑
                        var _this = this,
                            cache = HZZ.cache,
                            URLs = HZZ.config.URLs,
                            util = HZZ.util;

                        cache.row = row;

                        switch (name) {
                            case 1: 
                                util.loadHtml(URLs.baseUrl + 'dbsx-dbfk-form.html');
                                break;
                            case 2: 
                                util.loadHtml(URLs.baseUrl + 'dbsx-xhsj-form.html');
                                break;
                            case 3: 
                                util.loadHtml(URLs.baseUrl + 'dbsx-xhsj-form.html');
                                break;
                            case 4: 
                                util.loadHtml(URLs.baseUrl + 'dbsx-xhsj-form.html');
                                break;
                        }
                    }
                },
                created: function () {
                    this.getTableData1()
                }
            });
        </script>
    </body>
</html>