<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>待办事项</title>
		<link rel="stylesheet" href="css/element-theme/element-theme-darkred.css">
		<link rel="stylesheet" href="css/common/common.css">
		<link rel="stylesheet" href="css/dcdb-dbsx/dcdb-dbsx.css">
	</head>
	<body>
		<div id="list" v-cloak>
			<el-tabs v-model="activeName" @tab-click="handleClick">
					<el-tab-pane label="督办反馈" name="1">
						<el-form :inline="true" :model="form" class="demo-form-inline">
							<el-form-item label="问题类型">
								<el-select v-model="form.questionType" placeholder="请选择">
									<el-option
										v-for="item in typeData"
										:key="item.value"
										:label="item.label"
										:value="item.value">
									</el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="活动时间">
								<el-col :span="11">
									<el-date-picker type="date" placeholder="选择日期" v-model="form.startDate" style="width: 100%;"></el-date-picker>
								</el-col>
								<el-col class="text-c" :span="2">-</el-col>
								<el-col :span="11">
									<el-date-picker type="date" placeholder="选择日期" v-model="form.endDate" style="width: 100%;"></el-date-picker>
								</el-col>
							</el-form-item>
							<el-form-item>
								<el-button type="primary" @click="search">查询</el-button>
							</el-form-item>
						</el-form>
						<el-table
							:data="tableData"
							border
							style="width: 100%">
							<el-table-column
								prop="fileNum"
								label="文件号"
								width="180">
							</el-table-column>
							<el-table-column
								prop="department"
								label="责任单位"
								width="180">
							</el-table-column>
							<el-table-column
								prop="type"
								label="交办类型">
							</el-table-column>
							<el-table-column
								prop="content"
								label="交办内容">
							</el-table-column>
							<el-table-column
								prop="contacts"
								label="联系人">
							</el-table-column>
							<el-table-column
								prop="startDate"
								label="交办时间">
							</el-table-column>
							<el-table-column
								prop="endDate"
								label="整改期限">
							</el-table-column>
							<el-table-column
								prop="progress"
								label="进度">
							</el-table-column>
							<el-table-column
								label="操作">
								<template slot-scope="scope">
									<el-button
										type="primary"
										size="mini"
										@click="handleEdit(scope.$index, scope.row)"
										icon="el-icon-edit">编辑
									</el-button>
								</template>
							</el-table-column>
						</el-table>
						<el-pagination
							class="m-t-15"
							@size-change="handleSizeChange"
							@current-change="handleCurrentChange"
							background
							:current-page="currentPage"
							:page-sizes="pageSizeSelection"
							:page-size="pageSize"
							layout="total, sizes, prev, pager, next, jumper"
							:total="total">
						</el-pagination>
					</el-tab-pane>
					<el-tab-pane label="巡查事件" name="2">巡查事件</el-tab-pane>
					<el-tab-pane label="公众投诉" name="3">公众投诉</el-tab-pane>
					<el-tab-pane label="重点项目" name="4">重点项目</el-tab-pane>
			</el-tabs>
		</div>

		<script src="static/jquery-1.8.3/jquery-1.8.3.min.js"></script>
		<script src="static/vue/vue-2.5.13.js"></script>
		<script src="static/element-ui/lib/index.js"></script>
		<script src="js/config.js"></script>
		<script src="js/api.js"></script>
		<script>
			Vue.prototype.$ELEMENT = { size: 'small' };
			new Vue({
				el: '#list',
				data: function() {
					return {
						activeName: '1',

						typeData: [],

						form: {
							questionType: '',
							startDate: '',
							endDate: ''
						},

						//表格
						tableData: [],

						// 分页
						currentPage: HZZ.pagination.currentPage, // 当前页
						pageSizeSelection: HZZ.pagination.pageSizeSelection,
						pageSize: HZZ.pagination.pageSize, // 每页大小
						total: HZZ.pagination.total // 总记录条数

					}
				},
				methods: {
					simulatePagination: function(arr) {
						this.tableAllData = arr;
						return arr.slice((this.currentPage - 1) * this.pageSize, this.currentPage * this.pageSize);
					},
					getTypeData: function() {
						var _this = this;
						HZZ.api.get_dcdb_dbsx_typeData()
							.then(function(res) {
								if (HZZ.api.result === res.result) { 
									_this.typeData = res.typeData;	
								}
							}, function(err) {
								HZZ.apiErrorMessage.bind(_this, err)();
							});
					},
					getTableData: function() { 
						var _this = this;
						var params = {
							currentPage: this.currentPage,
							pageSize: this.pageSize,
							questionType: this.form.questionType,
							startDate: this.form.startDate,
							endDate: this.form.endDate
						};
						console.log(params);
						HZZ.api.get_dcdb_dbsx_tableData(params)
							.then(function(res) {
								if (HZZ.api.result === res.result) { 
									_this.tableData = res.tableData;
									_this.total = res.length;			
								}
							}, function(err) {
								HZZ.apiErrorMessage.bind(_this, err)();
							});
					},
					handleClick: function(tab, event) {
						console.log(tab, event);
					},
					handleSizeChange: function(val) {
						this.pageSize = val;
						this.getTableData();
					},
					handleCurrentChange: function(val) {
						this.currentPage = val;
						this.getTableData();	
					},
					search: function(val) {
						this.getTableData();	
					}
				},
				created: function () {
					this.getTableData();
					this.getTypeData();
				}
			});
		</script>
	</body>
</html>