/* 全局工具类 */

@import 'variable.less';

.clearfix:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}

.clearfix {
    *zoom: 1;
}

.hide { 
	visibility: hidden;
}

.fr {
	float: right;
}

.p-r-0 {
	padding-right: 0;
}

.p-l-0 {
	padding-left: 0;
}

.p-rl-0 {
	padding-right: 0;
	padding-left: 0;
}

.border-b-1 {
	border-bottom: 1px solid #cdcdcb;
}

.text-c {
	text-align: center;
}

.m-t-15 {
	margin-top: 15px;
}

.p2925 {
	color: #21aff7;
	background-color: currentColor;
	&:first-line {
		color: white;
	}
}

.p7465 {
	color: #1bbda6;
	background-color: currentColor;
	&:first-line {
		color: white;
	}
}

.p116 {
	color: #ffd009;
	background-color: currentColor;
	&:first-line {
		color: white;
	}
}

.linear-gradient(@direction: top, @start: #fff, @end: #f0f0f0, @ie9: rgb(69, 193, 236)) { 
	background-image: -moz-linear-gradient(@direction , @start 0%, @end 100%);
	background-image: -webkit-linear-gradient(@direction, @start, @end);
	background-image: -o-linear-gradient(@direction , @start 0%, @end 100%);
	background-image: -ms-linear-gradient(@direction,  @start 0%, @end 100%);
	background-image: linear-gradient(to @direction, @start 0%, @end 100%);
}