<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>待办事项</title>
        <link rel="stylesheet" href="../../../css/element-theme/element-theme-darkred.css">
        <link rel="stylesheet" href="../../../css/common/common.css">
        <link rel="stylesheet" href="../../../css/dcdb-dbsx/dcdb-dbsx.css">
    </head>
    <body>
        <div id="list" v-cloak>
            <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="督办反馈" name="1">
                        <el-form :inline="true" :model="formSearch" class="demo-form-inline">
                            <el-form-item label="问题类型">
                                <el-select v-model="formSearch.questionType" placeholder="请选择" clearable>
                                    <el-option
                                        v-for="item in typeData"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item label="活动时间">
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="formSearch.assignedTime" style="width: 100%;"></el-date-picker>
                                </el-col>
                                <el-col class="text-c" :span="2">-</el-col>
                                <el-col :span="11">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="formSearch.rectificationPeriod" style="width: 100%;"></el-date-picker>
                                </el-col>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="search">查询</el-button>
                            </el-form-item>
                        </el-form>
                        <el-table
                            :data="tableData"
                            border
                            style="width: 100%">
                            <el-table-column
                                prop="fileNum"
                                label="文件号"
                                width="180">
                            </el-table-column>
                            <el-table-column
                                prop="department"
                                label="责任单位"
                                width="180">
                            </el-table-column>
                            <el-table-column
                                prop="type"
                                label="交办类型">
                            </el-table-column>
                            <el-table-column
                                prop="content"
                                label="交办内容">
                            </el-table-column>
                            <el-table-column
                                prop="contacts"
                                label="联系人">
                            </el-table-column>
                            <el-table-column
                                prop="assignedTime"
                                label="交办时间">
                            </el-table-column>
                            <el-table-column
                                prop="rectificationPeriod"
                                label="整改期限">
                            </el-table-column>
                            <el-table-column
                                prop="progress"
                                label="进度">
                            </el-table-column>
                            <el-table-column
                                label="操作">
                                <template slot-scope="scope">
                                    <el-button
                                        type="primary"
                                        size="mini"
                                        @click="handleEdit(scope.$index, scope.row)"
                                        icon="el-icon-edit">编辑
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <el-pagination
                            class="m-t-15"
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            background
                            :current-page="currentPage"
                            :page-sizes="pageSizeSelection"
                            :page-size="pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="total">
                        </el-pagination>
                    </el-tab-pane>
                    <el-tab-pane label="巡查事件" name="2">巡查事件</el-tab-pane>
                    <el-tab-pane label="公众投诉" name="3">公众投诉</el-tab-pane>
                    <el-tab-pane label="重点项目" name="4">重点项目</el-tab-pane>
            </el-tabs>
        </div>

        <script src="../../../static/jquery-1.8.3/jquery-1.8.3.min.js"></script>
        <script src="../../../static/vue/vue-2.5.13.js"></script>
        <script src="../../../static/element-ui/lib/index.js"></script>
        <script src="../../../static/layer-v3.1.1/layer/layer.js"></script>
        <script src="../../../js/config.js"></script>
        <script src="../../../js/api.js"></script>
        <script src="../../../js/common.js"></script>
        <script>
            new Vue({
                el: '#list',
                data: function() {
                    return {
                        activeName: '1',    // tabs标签高亮

                        typeData: [],       // 问题类型

                        formSearch: {             // 表单
                            questionType: '',
                            assignedTime: '',
                            rectificationPeriod: ''
                        },

                        tableData: [],      //表格

                        // 分页
                        currentPage: HZZ.config.pagination.CURRENT_PAGE, // 当前页
                        pageSizeSelection: HZZ.config.pagination.PAGESIZE_SELECTION,
                        pageSize: HZZ.config.pagination.PAGESIZE, // 每页大小
                        total: HZZ.config.pagination.TOTAL // 总记录条数
                    }
                },
                methods: {
                    getTypeData: function() {   // 获取类型数据
                        var _this = this;
                        HZZ.api.get_dcdb_dbsx_typeData()
                            .then(function(res) {
                                if (HZZ.api.result === res.result) { 
                                    _this.typeData = res.typeData;  
                                }
                            }, function(err) {
                                $.error(err.responseText);
                            });
                    },
                    getTableData: function() {  // 获取表格数据
                        var _this = this;
                        var params = {
                            currentPage: this.currentPage,
                            pageSize: this.pageSize,
                            questionType: this.formSearch.questionType,
                            assignedTime: this.formSearch.assignedTime,
                            rectificationPeriod: this.formSearch.rectificationPeriod
                        };
                        HZZ.api.get_dcdb_dbsx_tableData(params)
                            .then(function(res) {
                                if (HZZ.api.result === res.result) { 
                                    _this.tableData = res.tableData;
                                    _this.total = res.length;           
                                }
                            }, function(err) {
                                $.error(err.responseText);
                            });
                    },
                    handleClick: function(tab, event) { // tabs标签点击回调
                        console.log(tab, event);
                    },
                    handleSizeChange: function(val) {   // 分页条数改变回调
                        this.pageSize = val;
                        this.getTableData();
                    },
                    handleCurrentChange: function(val) {    // 翻页回调
                        this.currentPage = val;
                        this.getTableData();    
                    },
                    search: function(val) { // 搜索
                        this.getTableData();    
                    },
                    handleEdit: function(index, row) {  // 点击表格操作按钮弹出layer对话框（此方案体验好）
                        var _this = this,
                            cache = HZZ.cache,
                            URLs = HZZ.config.URLs,
                            util = HZZ.util;

                        cache.dbsxRow = row;    // 缓存行数据

                        util.loadHtml(URLs.baseUrl + URLs.fileUrls.dbsxInfo);   // 通过iframe加载页面
                    }/*,
                    handleEdit2: function(index, row) {  // 点击表格操作按钮弹出layer对话框
                        var cache = HZZ.cache,
                            URLs = HZZ.config.URLs;
                        cache.dbsxRow = row;    // 缓存行数据

                        layer.open({
                            type: 2,
                            title: null,
                            area: ['100%', '100%'],
                            anim: -1,
                            shade: 0,
                            closeBtn: 0,
                            content: URLs.baseUrl + URLs.fileUrls.dbsxInfo, 
                            success: function(layero, index){
                                layero.css('background-color', 'transparent');
                            }
                        }); 
                    }*/
                },
                created: function () {
                    this.getTableData();
                    this.getTypeData();
                }
            });
        </script>
    </body>
</html>